@tailwind base;
@tailwind components;
@tailwind utilities;

#imgDiv.show-img {
  max-height: 300px;
}

#imgDiv {
  transition: max-height 2s;
}
.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
